
<%- include('./partials/header') %>
    <main class="home">
        <img src="https://see.fontimg.com/api/renderfont4/qpAl/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/U3RhclN0cnVD/head-versus-heart.png">
        <br>
        <br>
        <p>Where Lonely People Rely on the Stars to find Love</p>
        <a id="get-in"class="link-offset-2 link-underline link-underline-opacity-0" href="/auth/google" class="login">Get In&nbsp;</a>
    </main>
    