
<%- include('./partials/header') %>
    <main class="home">
        <h1><%= title %></h1>
        <p>Where Lonely People Rely on the Stars to find Love</p>
        <a class="link-offset-2 link-underline link-underline-opacity-0" href="/auth/google" class="login">Get In&nbsp;</a>
    </main>
    