body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
  text-align: center;
}

a {
  color: #F8F8FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#edit-button {
  margin-left: -350px;
}

#profile {
  margin-left: -400px;
}

#messages {
  margin-left: -300px
}