<%- include('../partials/header') %>

<h1>Welcome Welcome</h1>
<br>
<br>
<form id="new-form" action="/accounts/<%= user._id %>/show?_method=PUT" method="POST">
    <label><strong>Name:</strong></label>
    <input type="text" name="name">
    <br>
    <label><strong>Date of Birth</strong> (yes, include the time of birth):</label>
    <input type="datetime-local" name="born">
    <br>
    <label><strong>Bio:</strong></label>
    <input type="text" name="bio">
    <br>
    <br>
    <input class="btn btn-lg btn-info" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?" type="submit" value="Join!">
</form>

<p><%= errorMsg %></p>

<%- include('../partials/footer') %>